<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ashen.petsystem.role.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.ashen.petsystem.role.model.entity.SysRole">
            <id property="roleId" column="ROLE_ID" jdbcType="BIGINT"/>
            <result property="roleKey" column="ROLE_KEY" jdbcType="VARCHAR"/>
            <result property="roleCode" column="ROLE_CODE" jdbcType="VARCHAR"/>
            <result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"/>
            <result property="isEnabled" column="IS_ENABLED" jdbcType="TINYINT"/>
            <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ROLE_ID,ROLE_KEY,ROLE_CODE,
        ROLE_NAME,IS_ENABLED,DESCRIPTION
    </sql>
</mapper>
